*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-style: normal;
}

%header-bg-h{
    background-color: #fff;
    height: 52px;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;

    .header{
        @extend %header-bg-h;

        .header-container{
            position: relative;
            width: 100%;
            z-index: 20;
            box-shadow: 0 6px 16px 2px rgba(7,12,20,.08);

            @extend %header-bg-h;

            &.fixed{
                position: fixed;
                left: 0;
                top: 0;
            }

            .container{
                width: 100%;
                overflow: hidden;
                position: relative;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    position: relative;
                    overflow-x: auto;
                    height: 104px;

                    li{
                        width: 30%;
                        text-align: center;
                        line-height: 52px;
                        cursor: pointer;
                        &.current{
                            span{
                                color: #2468f2;
                            }
                        }
                        & span{
                            font-family: PingFangSC-Semibold;
                            font-size: 16px;
                            color: rgba(34,34,34,.9);
                            font-weight: 500;
                            transition: color .3s ease-out;
                        }
                    }
                }
            }
        }
    }
}