*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* box的高宽由content决定，不会受padding border margin的影响  */
    box-sizing: border-box;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

// 样式嵌套
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-image: -moz-linear-gradient(90deg, rgb(153, 255, 250), rgb(255, 184, 219));

    background-image: -webkit-linear-gradient(90deg, rgb(153, 255, 250), rgb(255, 184, 219));

    background-image: linear-gradient(90deg, rgb(153, 255, 250), rgb(255, 184, 219));

    // position: relative;

    .content{
        margin: 0 auto;
        width: 300px;
        background-image: -moz-linear-gradient(45deg, rgb(255, 163, 215), rgb(158, 231, 255));
        background-image: -webkit-linear-gradient(45deg, rgb(255, 163, 215), rgb(158, 231, 255));
        background-image: linear-gradient(45deg, rgb(255, 163, 215), rgb(158, 231, 255));
        background-clip: text;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;

        span{
            font-size: 120px;
            font-weight: bold;
            font-style: oblique;
            color: transparent;
            letter-spacing: 10px;
        }
    }

    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #3E1E68;
        overflow: hidden;

        span {
            width: 20vmin;
            height: 20vmin;
            border-radius: 20vmin;
            backface-visibility: hidden;
            position: absolute;
            animation: move;
            animation-duration: 45;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            @for $i from 1 through 20 {
                &:nth-child(#{$i}){
                    color: rgba(random(255), random(255), random(255), 0.8); //
                    top: random()*100%; //
                    left: random()*100%; //
                    animation-duration: floor(random()*30+10)+s; //
                    animation-delay: +floor(random()*-10)+s; //
                    transform-origin: floor(random()*50)vw floor(random()*50)vh; //
                    box-shadow: 40vmin 0 (random()+5)+vmin currentColor; //
                }
            }
        }
    }

}


// @function color($i){
//     @return #FFACAC;
// }