*{
    padding: 0;
    margin: 0;
    list-style: none;
    /* box的高宽由content决定，不会受padding border margin的影响  */
    box-sizing: border-box;
}

// 样式嵌套
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-image: -moz-linear-gradient(90deg, rgb(153, 255, 250), rgb(255, 184, 219));

    background-image: -webkit-linear-gradient(90deg, rgb(153, 255, 250), rgb(255, 184, 219));

    background-image: linear-gradient(90deg, rgb(153, 255, 250), rgb(255, 184, 219));

    font:{
        size: 16px;
        weight: 300;
        family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

}